altair
argon2-cffi
argon2-cffi-bindings
async-generator
attrs
backcall
backports.zoneinfo
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
commonmark
dataclasses
decorator
defusedxml
entrypoints
gitdb
GitPython
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pywin32
pywinpty
pyzmq
requests
rich
scikit-learn
scipy
semver
Send2Trash
six
smmap
streamlit
terminado
testpath
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
wincertstore
zipp
